@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--txt);
  background-color: var(--bgc);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

button {
  font: inherit;
}

code {
  font-size: 0.8em;
  font-weight: 600;
}

p {
  line-height: 1.6;
}


#app {
  max-width: 780px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}
