.ga-tooltip {
    pointer-events: none;
    width: max-content;
    text-align: left;
    padding: 5px 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    word-break: break-all;
    color: #000;
    background-color: #fff;
    filter: drop-shadow(0 0 5px #50505033);
    border-radius: 4px;
}
.ga-tooltip.small {
     padding: 5px 10px;
     font-size: .8em;
}
.ga-tooltip::after {
     content: '';
     position: absolute;
     width: 10px;
     height: 6px;
     clip-path: polygon(0 0, 100% 0, 50% 100%);
     background-color: inherit;
     margin-top: -1px;
}
.ga-tooltip.theme-dark {
     background-color: #505050;
     color: #ffffff;
}
.ga-tooltip[class*='top']::after {
     top: 100%;
}
.ga-tooltip[class*='bottom']::after {
     bottom: 100%;
     clip-path: polygon(0 100%, 50% 0, 100% 100%);
}
.ga-tooltip[class*='start']::after {
     left: 10%;
}
.ga-tooltip[class*='center']::after {
     left: 50%;
     transform: translateX(-50%);
}
.ga-tooltip[class*='end']::after {
     left: 90%;
}